@model  MatrizHabilidade.ViewModel.EmailPlanoAcao

@{
    Layout = null;
}

Não responda esse e-mail.

<table width="100%" bgcolor="#f4f4f4" cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing: 0;table-layout:auto!important;margin:0;padding:0;font-family: 'Verdana';">
    <tbody>
        <tr>
            <td>
                <center>
                    <table bgcolor="white" border="0" width="530" cellspacing="0" cellpadding="0" style="background-color: #07284a;margin: 100px 0;width: 624px;padding: 15px;">
                        <tbody>
                            <tr>
                                <td style="color: #c1d72e;font-size: 36px;padding-bottom: 5px;">Plano de Ação</td>
                            </tr>
                            <tr>
                                <td style="color: #c1d72e;padding-bottom: 5px;font-size: 20px;">Olá Nome</td>
                            </tr>
                            <tr>
                                <td style="color: #c1d72e;padding-bottom: 5px;font-size: 20px;">Você foi nomeado como responsável da Ação Abaixo:</td>
                            </tr>
                            <tr>
                                <td style="color: #c1d72e;padding-bottom: 5px;font-size: 20px;">Ação</td>
                            </tr>
                            <tr>
                                <td style="border-bottom: solid #c1d72e 5px;"></td>
                            </tr>
                            <tr>
                                <td style="color: #c1d72e;padding-bottom: 5px;padding-top: 5px;font-size: 20px;">Informações do requisitante:</td>
                            </tr>
                            <tr>
                                <td style="color: #c1d72e;padding-bottom: 5px;font-size: 20px;">Área: Area</td>
                            </tr>
                            <tr>
                                <td style="color: #c1d72e;padding-bottom: 5px;font-size: 20px;">Gestor: Gestor</td>
                            </tr>
                            <tr>
                                <td style="color: #c1d72e;padding-bottom: 5px;font-size: 20px;">Máquina: Maquina</td>
                            </tr>
                            <tr>
                                <td style="color: #c1d72e;padding-bottom: 5px;font-size: 20px;">Prazo: 01/01/2021</td>
                            </tr>
                            <tr>
                                <td style="border-bottom: solid #c1d72e 5px;"></td>
                            </tr>
                            <tr>
                                <td style="padding-top: 5px;padding-bottom: 5px;color: #c1d72e;font-size: 20px;">Ao finalizar a Ação, <a style="color: #c1d72e;" href="https://novelis.gestao.annimar.com.br/MatrizHabilidade/PlanoAcao">clique aqui</a> para concluir</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 5px;">
                                    <table border="0" cellspacing="0" cellpadding="0" style="width: 590px;">
                                        <tbody>
                                            <tr>
                                                <td style="color: #c1d72e;font-size: 20px;">Atenciosamente,<br>Pilar E&amp;T</td>
                                                <td style="color: #c1d72e;text-align: right;font-size: 20px;">Novelis</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
    </tbody>
</table>